nav(class="navbar navbar-expand-lg navbar-light bg-light")
	//- brand/logo
	a(class="navbar-brand nav-item" href="/home") BuddyStream
	//- user info shown only when logged in
	if session.passport
		a(class="btn btn-light nav-item nav-link" href=`/home`) Account
		logout button
		form(method="POST" class="form-inline nav-item")
			button(class="btn btn-outline-primary" type="submit" formaction="/logout") Logout
	else
		div(class="nav-item row")
		//- 		//- login button
		a(class="btn btn-primary nav-link col-sm-3" href="/") Login
		//- 		//- register button
		//- 		//- a(class="btn btn-info nav-link col-sm" href="/register") Register
