extends layout
block content
  #main
      h2 Buddy Stream Test
      #streamContainer
        iframe(width='560', height='315', src='https://www.youtube.com/embed/tKYk0eFbtVg', frameborder='0', allowfullscreen='')
        canvas.canvas
      video#localVideo.player(autoplay='', muted='')
      video#remoteVideo.player(autoplay='')
      //- TODO - make a listener for this button (rather than top-loading script)
      //- <input type="button" id="start" onclick="start(true)" value="Start Video"></input>
      input#videoCallButton(type='button', onclick='start(true)', value='Video Call')
      input#endCallButton(type='button', disabled='', value='End Call')
      //- pre#messages(style='height: 400px; overflow: scroll').
    //- from ws npm module example https://github.com/websockets/ws/tree/master/examples/express-session-parse
    //- h1 Choose an action.
    //- button#login(type='button', title='Simulate login')
    //-   | Simulate login
    //- button#logout(type='button', title='Simulate logout')
    //-   | Simulate logout
    //- button#wsButton(type='button', title='Open WebSocket connection')
    //-   | Open WebSocket connection
