doctype html
html(lang='en')
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='lib/bootstrap/bootstrap.min.css')
    link(href='style.css', rel='stylesheet')
  body.container-fluid
    block content

    script(src='lib/jquery/jquery.min.js')
    script(src='lib/popper.js/popper.min.js')
    script(src='lib/bootstrap/bootstrap.min.js')
    script(src='app.js')
