extends layout
block content
  #main
    div(id="streamContainer")
      iframe(src=`https://www.youtube.com/embed/${movie.sourceIdentifier}`, frameborder='0', allowfullscreen='')
      canvas.canvas
    div(id="webcamContainer" class="d-inline-flex")
      .webcamWrapper
        video(id="localVideo" class="player" autoplay='', muted='')
      .controls
        input(id="videoCallButton" class="btn btn-sm btn-primary" type='button', onclick='start(true)', value='Connect')
        input(id="endCallButton" class="btn btn-sm btn-secondary" type='button', disabled='', value='Disconnect')
        input(id="enterTheater" class="btn btn-sm btn-secondary" type='button', value='Theater Mode')
        input(id="exitTheater" class="btn btn-sm btn-outline-danger" type='button', disabled='', value='EXIT')
      .rgb.hide
        label(for='rmin') Red Min:
        input(type='range', min='0', max='255', name='rmin', value='159')
        label(for='rmax') Red Max:
        input(type='range', min='0', max='255', name='rmax', value='240')
        br
        label(for='gmin') Green Min:
        input(type='range', min='0', max='255', name='gmin', value='136')
        label(for='gmax') Green Max:
        input(type='range', min='0', max='255', name='gmax', value='235')
        br
        label(for='bmin') Blue Min:
        input(type='range', min='0', max='255', name='bmin', value='99')
        label(for='bmax') Blue Max:
        input(type='range', min='0', max='255', name='bmax', value='187')
      .webcamWrapper
        video#remoteVideo.player(autoplay='')
  script(src='/public/lib/jquery/jquery.min.js')
  script(src='/public/lib/popper.js/popper.min.js')
  script(src='/public/lib/bootstrap/bootstrap.min.js')
  script(src='/public/app.js')
