extends layout
block content
  #main
    div(id="streamContainer")
      iframe(src=`https://www.youtube.com/embed/${movie.sourceIdentifier}`, frameborder='0', allowfullscreen='')
      canvas.canvas
    div(id="webcamContainer")
      .webcamWrapper
        video(id="localVideo" class="player" autoplay='', muted='')
      .controls
        .controlButtons
          input(id="videoCallButton" class="btn btn-sm btn-primary" type='button', value='Connect')
          a(href='/home')
            input(id="endCallButton" class="btn btn-sm btn-outline-danger" type='button', value='Leave Session')
          input(id="enterTheater" class="btn btn-sm btn-outline-secondary" type='button', value='Theater Mode')
          input(id="rgbButton" class="btn btn-sm btn-outline-secondary hide" type='button', value='Adjust')
          input(id="exitTheater" class="btn btn-sm btn-outline-danger hide" type='button', value='Exit Theater')
        .rgb.hide
          .sliders
            label(for='rmin') R Min:
            input(type='range', min='0', max='255', name='rmin', value='159')
            br
            label(for='rmax') R Max:
            input(type='range', min='0', max='255', name='rmax', value='240')
          .sliders
            label(for='gmin') G Min:
            input(type='range', min='0', max='255', name='gmin', value='136')
            br
            label(for='gmax') G Max:
            input(type='range', min='0', max='255', name='gmax', value='235')
          .sliders
            label(for='bmin') B Min:
            input(type='range', min='0', max='255', name='bmin', value='99')
            br
            label(for='bmax') B Max:
            input(type='range', min='0', max='255', name='bmax', value='187')
      .webcamWrapper
        video#remoteVideo.player(autoplay='' muted='')
  script(src='/public/lib/jquery/jquery.min.js')
  script(src='/public/lib/popper.js/popper.min.js')
  script(src='/public/lib/bootstrap/bootstrap.min.js')
  script(src='/public/app.js')
